@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');
:root{
    bluuuu:#1b4765;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", serif;
}
header{
    background-color: #011d31;
    padding: 20px;
    color:#fff;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.logo{
    color: #1186c1;
    font-weight: bolder;
    letter-spacing: 5px;
}
header a{
    text-decoration: none;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-size: larger;
}
header button{
    padding: 10px 20px;
    font-family: "Josefin Sans", serif;
    background-color: #031827;
    background-color: #031827;
    border: 2px solid #1186c1;
    color: #1186c1;
    border-radius: 5px;
}
header ul li a:hover{
    color: #1186c1;
    font-weight: bold;
}
header button:hover{
    cursor:pointer;
    background-color: #1186c1;
    color: #fff;
}
section.hero-section{
    background-color: #031827;
    color:#fff;
    display: flex;
    align-items: center;
    padding: 20px 120px 0 200px;
}
.hero-section-title{
    font-size: 45px;
}
.hero-section-desc{
    color:#fff;
}
.social-icons{
    margin: 20px 0;
}
.social-icons li{
    margin-right: 10px;
}
ul.social-icons{
    list-style:none;
    display: flex;
}
.social-icons li > a{
    text-decoration: none;
    color: #fff;
}
.social-icons li a > i.fa-facebook:hover{
    color:#1877F2;
}
.social-icons li a > i.fa-linkedin:hover{
    color:#0A66C2;
}
.social-icons li a > i.fa-instagram:hover{
    color:#E4405F;
}
.social-icons li a > i.fa-twitter:hover{
    color:#1DA1F2;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px;
    cursor:pointer;
}
.btn.btn-primary{
    background-color: #1186c1;
    font-family:"Josefin Sans", serif;
}
.btn.btn-primary:hover{
    background-color:white;
    color: black;
}
.btn.btn-secondary{
    background-color:#031827;
    color:#1186c1;
    font-family:"Josefin Sans", serif;
    border: 2px solid #1186c1;
    
}
.btn.btn-secondary:hover{
    background-color:#1186c1;
    color: black;
}
.hero-section-title > span{
    color: #1186c1;
}
.about-section{
    background-color:#011d31;
    color: #fff;
    display: flex;
    justify-content:center;
    padding: 30px 120px;
    align-items: center;
}
.about-section img{
      width: 350px;
      height: 350px;
      border-radius:50%;
      background-color: #fff;
      border: 5px solid #1186c1;
      box-shadow: 3px 5px 20px #1186c1;
}
.about-section-desc{
    margin-left: 100px;
    max-width: 450px;
}
.about-section-desc ul{
    list-style:none;
    margin-top:10px;
    margin-bottom: 15px;
}
.about-section h1{
    font-size: 30px;
    font-weight: 900;
}
.about-section-desc li{
    margin-bottom:14px;
}
.about-section-desc li > strong{
    color:gray;
}
.about-section-desc ul li > a{
    text-decoration: none;
    color: #fff;
}
.about-section-desc ul li > a:hover{
    color: #1186c1;
}